<div class="app-container">
  <mat-sidenav-container class="sidenav-container" *ngIf="isAuthenticated">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'over'"
      [opened]="false">
      <mat-toolbar class="menu-header">Menú</mat-toolbar>
      <mat-nav-list class="navigation-list">
        @for (item of navItems; track item) {
          <a
            mat-list-item
            [routerLink]="item.route"
            routerLinkActive="active-nav-item flex items-center"
            (click)="drawer.close()"
            class="nav-item rounded-lg text-gray-600 hover:text-gray-900">
            <mat-icon class="nav-icon mr-3">{{ item.icon }}</mat-icon>
            <span class="nav-text">{{ item.label }}</span>
          </a>
        }

        <mat-divider class="nav-divider"></mat-divider>
        <div
          class="nav-item logout-item flex items-center gap-3 px-4 py-3 rounded-lg text-gray-600 hover:text-gray-900">
          <mb-common-button
            [buttonModel]="logoutSidenavModel"
            [targetId]="drawer"
            class="w-full"></mb-common-button>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mb-common-button
          [buttonModel]="toggleDrawerModel"
          [targetId]="drawer"
          class="mat-icon-button"
          [attr.aria-label]="'Toggle sidenav'"></mb-common-button>
        <span>{{ title }}</span>
        <span class="spacer"></span>
        <mb-theme-toggle></mb-theme-toggle>
        <mb-common-button [buttonModel]="logoutButtonModel" class="ml-2"></mb-common-button>
      </mat-toolbar>

      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Login view when not authenticated -->
  <div *ngIf="!isAuthenticated" class="login-container">
    <div class="theme-toggle-login">
      <mb-theme-toggle></mb-theme-toggle>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
